ul.tag_box.inline {
  padding: 0;
  list-style: none;
  display: inline;
}

.tag_box.inline li {
  font-size: smaller;
  display: inline;

}

img.mugshot {  
  width: 200px;
  float: right;
  margin: 5px;
}