---
layout: default
---

<!-- template for a person -->

<h2>{{ page.title }}</h2>

{% unless page.tags == empty %}
<ul class="tag_box">
  {% assign tags_list = page.tags %}
  {% include tags_list %}
</ul>
{% endunless %}

<img class="mugshot" src="{{ page.image_url }}">

{{ content }}

<hr/>

<ul>
  <li><a href="{{ page.linkedin }}">LinkedIn</a></li>
  <li><a href="{{ page.github }}">Github</a></li>
  <li><a href="{{ page.twitter }}">Twitter</a></li>
  <li><a href="{{ page.contact }}">Contact</a></li>
</ul>